@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Colors */

:root {
    /* Most text and often a background colour (eg menus, footer, page headers) */
    --color-default: #000045;
    /* Used as a general highlight/background colour, for hyperlinks and an option for page headers */
    --color-primary: #5000F2;
    /* Often used for hoverstates as well as a colour option for page headers */
    --color-secondary: #FF8A00;
    /* Page headers 1*/
    --color-green: #36C280;
    /* Page headers 2*/
    --color-yellow: #FFF057;
    /* Page headers 3*/
    --color-pink: #FF38D1;
    /* Page headers 4*/
    --color-red: #E30052;
    /* Page headers 5*/
    --color-purple: #8F0057;
    /* Page headers 6*/
    --color-megenta: #C400ED;
    /* Page White colour*/
    --color-white: #FFFFFF;
    /* Anchor Text Color */
    --color-anchor: #4100C2;
    --color-black: #000000;
    --color-gray: #D4D4D4;
    --color-light-gray: #F2F2F2;
    --color-outline-focus: #FF8A00;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --btn-focus-box-shadow: 0 0 0 0.25rem rgb(255 137 0 / 100%);
    --font-family-default: 'Sora', sans-serif;
    --line-height-default: 1.5;
}


/* Smooth scroll behavior */

root {
    scroll-behavior: smooth;
}


/*--------------------------------------------------------------
# Common
--------------------------------------------------------------*/

body {
    color: var(--color-default);
    font-family: var(--font-family-default);
    font-weight: 400;
    font-size: 0.875rem;
    line-height: var(--line-height-default);
    overflow-x: hidden;
    /* max-width: 1800px; */
    margin: 0 auto;
}

a {
    color: var(--color-anchor);
    text-decoration: underline;
}

.purple-bg a {
    color: var(--color-white);
}

a:hover {
    color: var(--color-default);
}

a:has(i, .info-card, .recommendation-link, .info-link, .card-body, .pdfdownload, .topics-carousel-text) {
    text-decoration: none;
}

a:focus-visible {
    outline: 3px solid var(--color-outline-focus);
    outline-offset: 0;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 1rem;
}

.height-100 {
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: .5rem;
}

/* Used for: Landing page titles */

h1,
.h1 {
    font-size: 3rem;
    line-height: 135%;
    font-weight: 800;
    word-wrap: break-word;
    letter-spacing: -0.48px;
}

/* Used for: Homepage carousel, destination page titles */

h2,
.h2 {
    font-size: 2.5rem;
    line-height: 135%;
    font-weight: 700;
    word-wrap: break-word;
    letter-spacing: -0.4px;
}

/* Used for: Page subtitles */

h3,
.h3 {
    font-size: 2rem;
    line-height: 135%;
    font-weight: 700;
    word-wrap: break-word;
    letter-spacing: -0.32px;
}

/* Used for: Card titles, pull quotes etc */

h4,
.h4 {
    font-size: 1.188rem;
    line-height: 145%;
    font-weight: 400;
    word-wrap: break-word;
    letter-spacing: -0.19px;
}

h5,
.h5 {
    font-size: 0.875rem;
    line-height: 145%;
    word-wrap: break-word;
}

h6,
.h6 {
    font-size: 0.75rem;
    line-height: 145%;
    word-wrap: break-word;
}

@media(max-width: 991px) {

    h1,
    .h1 {
        font-size: 1.8rem;
    }

    h2,
    .h2 {
        font-size: 1.5rem;
    }

    h3,
    .h3 {
        font-size: 1.25rem;
    }

    h4,
    .h4 {
        font-size: 1.125rem;
    }

    h5,
    .h5 {
        font-size: 0.813rem;
    }

    h6,
    .h6 {
        font-size: 0.688rem;
    }
}

.hidden {
    display: none !important;
    visibility: hidden;
}



.color-default {
    color: var(--color-default) !important;
}

.form-control {
    border-radius: 0;
    border-color: var(--color-default);
    line-height: 2;
}

.form-select {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: var(--color-default);
    border-radius: 0;
    /* border-radius: 24px; */
}

.form-control:focus,
.form-select:focus,
.form-check-input:focus {
    border: 1px solid var(--color-default);
    box-shadow: var(--btn-focus-box-shadow);
}

input:focus-visible,
textarea:focus-visible {
    box-shadow: var(--btn-focus-box-shadow);
    outline: none;
}

.form-check-input[type=checkbox] {
    border-radius: 0;
}

.form-check-input {
    height: 30px;
    width: 30px;
    border: 1px solid var(--color-default);
    margin-right: 15px;
}

.form-check-input:checked {
    background-color: var(--color-default);
    border-color: var(--color-default);
}

.form-check-grp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.form-check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-check-qtype {
    display: flex;
    justify-content: start;
    align-items: center;
}

.responsive-image {
    width: 100%;
    object-fit: cover;
    object-position: top;
}

.img-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ratio-10x3 {
    aspect-ratio: 10/3;
}

.ratio-13x6 {
    aspect-ratio: 13/6;
}

.pt-xl {
    padding-top: 100px;
}

.pt-l {
    padding-top: 25px;
}

.fs-sm {
    font-size: 1.188rem;
}

.fs-32 {
    font-size: 2rem;
}

.fs-12 {
    font-size: .75rem;
}

.component-margin {
    margin-bottom: 3rem;
}

.m-left-45 {
    margin-left: 45px;
}

.m-left-60 {
    margin-left: 60px;
}

.border-gray {
    border: 1px solid var(--color-gray);
}

.border-blue {
    border: 1px solid var(--color-default);
}

/*--------------------------------------------------------------
# Background Color
--------------------------------------------------------------*/
.white-bg {
    background-color: var(--color-white);
    color: var(--color-default);
}

.gray-bg {
    background-color: var(--color-light-gray);
    color: var(--color-default);
}

.pink-bg {
    background-color: var(--color-pink);
    color: var(--color-default);
}

.blue-bg {
    background-color: var(--color-default) !important;
    color: var(--color-white) !important;
}

.lightblue-bg {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.green-bg {
    background-color: var(--color-green);
    color: var(--color-default);
}

.megenta-bg {
    background-color: var(--color-megenta);
    color: var(--color-white);
}

.red-bg {
    background-color: var(--color-red);
    color: var(--color-white);
}

.purple-bg {
    background-color: var(--color-purple);
    color: var(--color-white);
}

.yellow-bg {
    background-color: var(--color-yellow);
    color: var(--color-default);
}

.orange-bg {
    background-color: var(--color-secondary);
    color: var(--color-default);
}

.text-red {
    color: var(--color-red);
}

.text-blue {
    color: var(--color-default);
}


.blue-bg a,
.lightblue-bg a,
.megenta-bg a,
.red-bg a,
.maroon-bg a {
    color: var(--color-white);
}

:is(.blue-bg, .lightblue-bg, .megenta-bg, .red-bg, .maroon-bg) :is(.btn-secondary) {
    color: var(--color-default);
}

.pink-bg a,
.orange-bg a {
    color: var(--color-dark);
}

.gray-bg a,
.green-bg a,
.yellow-bg a {
    color: var(--color-anchor);
}


.red-bg a:hover,
.lightblue-bg a:hover {
    color: var(--color-light-gray);
}

/*--------------------------------------------------------------
# All Buttons
--------------------------------------------------------------*/

.btn:focus-visible {
    box-shadow: none;
}

.btn-primary {
    background-color: var(--color-default);
    color: var(--color-white);
    border: 1px solid var(--color-default);
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 30px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--color-secondary);
    color: var(--color-default);
    border: 1px solid var(--color-default);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    text-decoration: underline !important;
}

.btn-primary:focus,
.btn-primary-white-border:focus,
.btn-primary-border:focus {
    background-color: var(--color-secondary);
    color: var(--color-default);
}

.btn-secondary {
    background-color: var(--color-white);
    color: var(--color-default);
    border: 1px solid var(--color-default);
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 40px;
}

.btn-secondary:hover,
.btn-secondary:focus {
    background-color: var(--color-secondary);
    color: var(--color-default);
    border: 1px solid var(--color-white);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    text-decoration: underline !important;
}

.purple-bg .btn-secondary {
    background-color: var(--color-default);
    color: var(--color-white);
    /* border: 1px solid var(--color-white); */
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    padding: 10px 40px;
}

.purple-bg .btn-secondary:hover,
.purple-bg  .btn-secondary:focus {
    background-color: var(--color-secondary) !important;
    color: var(--color-default) !important;
    border: 1px solid transparent !important;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    text-decoration: underline !important;
}

.purple-bg  .btn-secondary.btn-color-white:hover,
.purple-bg  .btn-secondary.btn-color-white:focus {
    background-color: var(--color-default) !important;
    color: var(--color-white) !important;
    border: 1px solid transparent !important;
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    text-decoration: underline !important;
}

.btn-secondary:active {
    background-color: var(--color-secondary) !important;
    color: var(--color-default) !important;
}

.btn-secondary.hover-none {
    border: 1px solid transparent;
}

.btn-secondary.hover-none:focus-visible {
    outline: 3px solid var(--color-outline-focus);
    outline-offset: 0;
}

.btn-secondary.disabled {
    background-color: transparent !important;
    color: var(--color-gray) !important;
    border: 1px solid var(--color-gray) !important;
    text-decoration: none;
}

.purple-bg .btn-secondary.disabled {
    background-color: #C780AB !important;
    color: var(--color-white) !important;
    border: 1px solid var(--color-gray) !important;
    text-decoration: none;
}

.btn-secondary.disabled:hover,
.btn-secondary.disabled:focus {
    background-color: transparent !important;
    color: var(--color-gray) !important;
    border: 1px solid var(--color-gray) !important;
    cursor: none;
    text-decoration: none !important;
}

.btn-edit {
    background-color: transparent;
    color: var(--color-white);
    border-color: var(--color-white);
    border-radius: 30px;
    font-style: normal;
    font-weight: 400;
    padding: 5px 30px;
}

.btn-edit:hover,
.btn-edit:focus {
    background-color: var(--color-secondary);
    color: var(--color-default);
    border: 1px solid var(--color-default);
    -webkit-transition: all .3s linear 0s;
    transition: all .3s linear 0s;
    text-decoration: underline !important;
}

.btn-secondary.btn-green {
    background-color: var(--color-green) !important;
    color: var(--color-default) !important;
    border: 1px solid var(--color-default) !important;
}

.btn-secondary.btn-green:hover,
.btn-secondary.btn-green:focus {
    background-color: var(--color-secondary) !important;
    color: var(--color-default) !important;
}

.blue-bg .btn-secondary.btn-green.disabled {
    background-color: var(--color-gray) !important;
    color: var(--color-default) !important;
    border: 1px solid var(--color-gray) !important;
}

.center-icon-btn {
    position: relative;
    padding-right: 45px;
    display: flex;
    align-items: center
}

.center-icon-btn .image {
    position: absolute;
    right: 15px;
}

.save-link:hover,
.save-link:focus {
    color: var(--color-secondary);
}

/*--------------------------------------------------------------
# Header 
--------------------------------------------------------------*/

.brand-logo {
    height: 26px;
    width: auto;
}

@media(max-width: 576px) {
    .brand-logo {
        height: 24px;
    }
}

.header {
    display: block;
    width: 100%;
    position: relative;
    z-index: 99;
    min-height: 60px;
}

@media(max-width: 992px) {
    .header {
        min-height: 67px;
    }
}

.header .logo a {
    font-size: 1.875rem;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

.header .header-title {
    font-weight: 700;
    color: var(--color-default);
    border-left: 3px solid var(--color-default);
    padding: 0 0 0 30px;
    margin-left: 30px;
    text-decoration: none;
}

.header .header-link {
    font-weight: 700;
    color: var(--color-default);
    border-left: 3px solid var(--color-default);
    padding: 0 0 0 30px;
    margin-left: 30px;
    text-decoration: none;
}

.header .header-link:hover {
    text-decoration: underline;
}


/*--------------------------------------------------------------
#  Back to Top
--------------------------------------------------------------*/
.back-to-top {
    display: flex;
    flex-direction: column;
    background-color: var(--color-default);
    color: var(--color-white);
    border: 1px solid var(--color-white);
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

.back-to-top span {
    font-size: 0.625rem;
    line-height: 0.875rem;
    text-align: center;
}

.back-to-top i {
    font-size: 1.375rem;
}

.back-to-top:hover::after {
    color: var(--color-default);
}

.back-to-top:hover,
.back-to-top:focus {
    cursor: pointer;
    opacity: 1;
    background-color: var(--color-secondary);
    color: var(--color-default);
    border: 1px solid var(--color-secondary);
    text-decoration: none;
}

.back-to-top:active {
    background-color: #555;
}

.back-to-top.show {
    opacity: .7;
    visibility: visible;
}

@media (min-width: 500px) {
    .back-to-top {
        margin: 30px;
    }
}

/*--------------------------------------------------------------
#  Skip to Content
--------------------------------------------------------------*/
.skip-to-content-link {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--color-white);
    background-color: var(--color-default);
    padding: 25px;
    transform: translateY(-100%);
    transition: transform .3s;
    z-index: 9999;
    text-decoration: none;
}

.skip-to-content-link:hover {
    color: var(--color-default);
    background-color: var(--color-secondary);
}

.skip-to-content-link:focus {
    transform: translateY(0%);
    outline: none;
}

/*--------------------------------------------------------------
# Teaser Card 
--------------------------------------------------------------*/
.info-card {
    font-style: normal;
    font-weight: 400;
    font-size: 1.188rem;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 15px;
    margin-bottom: 10px;
    word-break: break-word;
    background-color: var(--color-light-gray);
    border: 1.3px solid rgb(205 193 193)
}

.info-card.white {
    background-color: var(--color-white);
}

a:hover .info-card {
    background-color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    text-decoration: none;
}

a:focus-visible .info-card {
    background-color: var(--color-secondary);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    display: block;
}

a:focus .info-card svg {
    fill: var(--color-default);
}

a:focus .info-card svg path {
    stroke: var(--color-white);
}

a:hover .info-card .info-card-header,
a:focus .info-card .info-card-header {
    text-decoration: underline;
}

.info-card ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-card .info-card-header {
    font-size: 1.188rem;
    font-weight: 400;
    padding: 2px 10px 2px 0;
    color: var(--color-default);
    line-height: 1.5rem;
    width: 80%;
}

.info-card p {
    font-style: normal;
    font-size: 0.875rem;
    margin-top: 20px;
    margin-bottom: 0;
    color: var(--color-default);
}

/*--------------------------------------------------------------
# Teaser Card 
--------------------------------------------------------------*/

button.accordion-button.accordion-head {
    font-size: 19px !important;
    font-weight: 400 !important;
    line-height: 28px !important;
}

.accordion-button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.accordion-item:first-of-type .accordion-button,
.accordion-item:first-of-type>.accordion-header .accordion-button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.accordion-button:focus-visible {
    outline: var(--color-outline-focus) auto 3px;
    outline-offset: 2px;
}

.blue-bg .accordian-panel .accordion-button::after {
    background-image: url("../assets/img/web-icons/Accordion\ expand\ -\ blue.svg");
    transform: scale(.7) !important;
    color: var(--color-default);
    background-size: 48px 48px;
    padding: 20px 20px 30px 30px;
}

.blue-bg .accordian-panel .accordion-button:not(.collapsed)::after {
    background-image: url("../assets/img/web-icons/Accordion\ contract.svg");
    font-size: 2.5rem;
    color: var(--color-default);
}

.accordian-panel .accordion-button::after {
    background-image: url("../assets/img/web-icons/Accordion expand.svg");
    transform: scale(.7) !important;
    color: var(--color-default);
    background-size: 48px 48px;
    padding: 20px 20px 30px 30px;
}

.accordian-panel .accordion-button:not(.collapsed)::after {
    background-image: url("../assets/img/web-icons/Accordion\ contract.svg");
    font-size: 2.5rem;
    color: var(--color-default);
}

.accordian-panel {
    border: none !important;
    border-radius: 0px !important;
    border-top: 1px solid #000045 !important;
}

.accordian-panel .accordion-button {
    padding: 5px 0;
}

.accordian-panel:last-child {
    border-bottom: 1px solid #000045 !important;
}

.accordian-panel .accordion-header {
    font-size: 1.188rem;
    font-weight: 400;
    line-height: 1.5em;
    color: var(--color-default);
}

.accordian-panel .acc-description {
    padding-bottom: 40px;
    padding-left: 10px;
    width: 85%;
}

.accordian-panel .accordion-button:not(.collapsed) {
    color: #000045 !important;
    animation: colorChange1 1s forwards;
    box-shadow: none;
}

.accordian-panel .accordion-header:hover .accordion-button {
    text-decoration: underline;
}

.accordian-panel .card-body {
    display: flow-root;
    color: #000045 !important;
    animation: colorChange1 1s forwards;
    padding: 0 20px 40px 20px;
}

.accordian-panel :not(.show) .card-body {
    background-color: #fff !important;
}

.accordian-panel {
    position: relative;
}

.accordian-panel .accordion-header .accordion-button {
    padding-left: 20px;
    padding-right: 10px;
}

:is(.accordian-panel .accordion-header .accordion-button) :is(h1, h2, h3, h4, h5, h6) {
    word-wrap: break-word;
    margin-top: 0;
}

.accordian-panel .accordion-header:hover .accordion-button.collapsed,
.accordian-panel .accordion-header .accordion-button.collapsed:focus {
    background-color: var(--color-light-gray);
}

.blue-bg .accordion-item .accordion-button,
.blue-bg .accordion-item .accordion-header .accordion-button {
    background-color: var(--color-default);
    color: var(--color-white) !important;
}

.blue-bg .accordian-panel .accordion-header:hover .accordion-button.collapsed,
.blue-bg .accordian-panel .accordion-header .accordion-button.collapsed:focus {
    background-color: var(--color-default);
    color: var(--color-white);
}

.blue-bg .accordian-panel {
    border-top: 1px solid var(--color-white) !important;
}

.blue-bg .accordian-panel .card-body,
.blue-bg .accordian-panel :not(.show) .card-body {
    background-color: #303067 !important;
    color: var(--color-white) !important;
}

.blue-bg .accordian-panel .accordion-button:not(.collapsed) {
    animation: none;
    background-color: #303067;
}

.white-bg .accordion-item .accordion-header .accordion-button.collapsed[aria-expanded="true"] {
    background-color: var(--color-light-gray);
}

.accordion-item:last-of-type>.accordion-header .accordion-button.collapsed,
.accordion-item:last-of-type>.accordion-collapse {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0
}

.accordion-button:not(.collapsed) {
    background-color: transparent;
}

.accordian-panel .accordion-head {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 1.5;
}


@keyframes colorChange {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: var(--color-light-gray);
    }
}

@keyframes colorChange1 {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: transparent;
    }


    100% {
        background-color: var(--color-light-gray);
    }
}

/*--------------------------------------------------------------
# Multicolor Line
--------------------------------------------------------------*/

.multicolor-strip .bg-blue {
    background-color: var(--color-primary);
    width: 25%;
}

.multicolor-strip .bg-megenta {
    background-color: var(--color-megenta);
    width: 20%;
}

.multicolor-strip .bg-pink {
    background-color: var(--color-pink);
    width: 10%;
}

.multicolor-strip .bg-yellow {
    background-color: var(--color-secondary);
    width: 30%;
}

.multicolor-strip .bg-green {
    background-color: var(--color-green);
    width: 15%;
}

.multicolor-strip {
    height: 10px;
}

@media(max-width: 992px) {
    .multicolor-strip {
        height: 10px;
    }
}

/*--------------------------------------------------------------
# SVG Icons Design
--------------------------------------------------------------*/
.info-card .svg-arrow {
    fill: none;
}

.info-card .svg-arrow circle {
    stroke: var(--color-default);
}

.info-card .svg-arrow path {
    stroke: var(--color-default);
}

a:hover .info-card .svg-arrow path {
    stroke: var(--color-white);
}

a:hover .info-card .svg-arrow {
    fill: var(--color-default);
}

.info-card .info-link span {
    width: 90%;
}

.left-container {
    background-color: var(--color-purple);
    color: var(--color-white);
    padding: 10px 30px 40px 70px;
    height: 100%;
    /* position:absolute; */
}

.left-container .left-container-header {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.188rem;
    font-weight: 700;
    text-decoration: underline;
    cursor: pointer;
}

.left-container .left-container-header.active {
    color: var(--color-secondary);
    cursor: pointer;
}

.left-container ul.left-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.left-container ul a {
    color: var(--color-white);
    margin-bottom: 15px;
}

/* .left-container ul a.active {
            color: var(--color-secondary);
        } */

.left-container ul a:hover span {
    text-decoration: underline;
}

.left-container-with-link {
    padding: 40px 30px 40px 40px;
}

.left-container-header a {
    color: var(--color-white);
}

.left-container-header a.active {
    color: var(--color-secondary);
}

.left-container-header a:hover {
    color: var(--color-secondary);
}

.right-container {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
}

.general-info {
    padding-top: 70px;
    padding-bottom: 70px;
}

.full-container {
    padding: 70px 30px 40px 70px;
    min-height: 893px;
}

.qn-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qn-type .qn-text {
    font-weight: 400;
    margin-right: 10px;
}

.ans-text {
    margin: 15px 10px;
}

.info-box {
    border: 1px solid var(--color-gray);
    padding: 20px;
    margin-bottom: 1.5rem;
}

.info-box ul.list-info {
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-box ul.list-info li {
    background-color: var(--color-light-gray);
    padding: 15px;
    margin-bottom: 10px;
}

.info-box ul.list-info-blue-bg li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--color-default) !important;
    color: var(--color-white) !important;
    list-style: none;
}

.footer h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer ul li {
    display: inline;
    margin-right: 100px;
}

.footer ul li a {
    color: var(--color-default);
    text-decoration: none;
}

.footer ul li a:hover,
.footer ul li a:focus {
    text-decoration: underline;
    color: var(--color-secondary);
}

@media(max-width: 992px) {
    .footer ul li {
        display: block;
        margin: 20px 0;
    }
}



.h1-text-align {
    margin-top: 40%;
    margin-bottom: 40%;
}

.mr-2 {
    margin-right: 10px
}

.btn-color-white {
    background-color: var(--color-white) !important;
    color: var(--color-default) !important;
}

.bg-color-default {
    background-color: var(--color-default) !important;
}

.step-title {
    color: var(--color-white);
    font-family: var(--font-family-default);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: left;
    padding-top: 20px;
}

.panel-border-bottom:last-child {
    border-bottom: 1px solid var(--color-white) !important
}

.container-input,
.container-radio {
    display: block;
    position: relative;
    padding-left: 42px;
    margin-bottom: 20px;
    padding-top: 5px;
    cursor: pointer;
    font-size: .875rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container-input+p {
    margin-top: -10px !important;
}

.container-input input,
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.container-input input:focus+.checkmark,
.container-radio input:focus+.checkmark {
    box-shadow: 0 0 2px 3px var(--color-focus, #FF8A00);
    outline: none;
}

.container-input .checkmark,
.container-radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    background-color: #eee;
}

.container-input:hover input~.checkmark {
    background-color: var(--color-gray);
}

.container-input input:checked~.checkmark {
    background-color: var(--color-white);
}

.container-input .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container-input input:checked~.checkmark:after {
    display: block;
}

.container-input .checkmark:after {
    left: 10px;
    top: 5px;
    width: 10px;
    height: 18px;
    border: solid var(--color-default);
    border-width: 0 4px 4px 0;
    transform: rotate(45deg);
}

.container-radio .checkmark {
    border-radius: 50%;
}

.container-radio:hover input~.checkmark {
    background-color: #ccc;
}

.container-radio input:checked~.checkmark {
    background-color: var(--color-white);
}

.container-radio .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 50%;
}

.container-radio input:checked~.checkmark:after {
    display: block;
}

.container-radio .checkmark:after {
    top: 6px;
    left: 6px;
    width: 18px;
    height: 18px;
    background: var(--color-default);
}

.padding-10px {
    padding: 10px;
}

.info-card-alignment {
    padding-top: 7px !important;
    margin-left: -2rem !important;
}

.form-error {
    background-color: var(--color-red);
    padding: 10px;
}

.input-error {
    border-color: var(--color-red);
}

.your-answer-pdng-left {
    padding-left: 70px !important;
}

.display-inline-block {
    display: inline-block !important;
}

table th,
table td {
    border: 1px solid var(--color-default);
    padding: 10px;
    background-color: var(--color-white);
}

.m-bottom-40 {
    margin-bottom: 40px;
}

.padding-20 {
    padding: 20px;
}

.messageblock.white-bg a {
    color: var(--color-anchor) !important;
}

.onlyPrint {
    display: none !important;
}

.white-bg.padding-20.border-blue a {
    color: var(--color-default);
}

.checker-container {
    position: relative;
    width: 50%;
    height: 100%;
    overflow-y: hidden;
    margin-top: 170px;
    scrollbar-gutter: stable;
}

.checker-container:hover {
    overflow-y: auto !important;
}

.checker-container-header {
    font-size: 2rem;
}

.scroll-visible::-webkit-scrollbar {
    width: 10px;
}

.scroll-hide::-webkit-scrollbar {
    display: none;
}

.checker-container::-webkit-scrollbar-track {
    background-color: #F1EEEE;
    box-shadow: inset 0 0 5px grey;
}

.checker-container::-webkit-scrollbar-thumb {
    background: #878787;
    border-radius: 6px;
}

.checker-container::-webkit-scrollbar-thumb:hover {
    background: #5c5c5c;
}

.messageblock p {
    margin-bottom: 2px !important;
}

.messageblock ul {
    margin-bottom: 1px !important;
}

.help {
    width: 100%;
    top: 60px;
}

@media (max-width: 992px) {
    main {
        height: auto !important;
    }

    .checker-container {
        width: 100%;
        height: auto;
    }

    .checker-container.left {
        margin-top: 67px;
    }

    .checker-container.right {
        margin-top: 0px;
        /* padding-bottom: 100px; */
    }

    .main {
        display: block;
    }
}

.checker-container-left-inner {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}

.checker-container-right-inner {
    padding: 40px;
}

.checker-container-label {
    position: absolute;
    top: 20px;
    left: 40px;
}

@media (max-width: 992px) {

    .checker-container-left-inner {
        display: block;
        padding: 20px;
    }

    .checker-container-label {
        position: static;
        padding: 20px;
        padding-bottom: 0;
    }

    .checker-container-right-inner {
        padding: 20px;
    }
}

.main {
    display: flex;
    height: calc(100% - 170px);
}

.back-button {
    position: absolute;
    margin-top: 115px;
}

.sub-nav-left-container {
    min-height: 596px;
}

.row .checker-container-p-0 {
    padding-right: 0px !important;
}

.left-container ul a:hover {
    color: var(--color-yellow);
}

.left-container-header:hover {
    color: var(--color-yellow);
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 10px;
    background: var(--color-default);
    color: #fff;
    text-align: center;
    font: 14px Arial, sans-serif;
}

.tick-with-text {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tick-with-text li {
    display: flex;
    margin-bottom: 10px;
}

.tick-with-text li i {
    font-size: 24px;
    margin-right: 10px;
}

.arrow-with-text {
    list-style: none;
    margin: 0;
    padding: 0;
}

.arrow-with-text li {
    margin-bottom: 10px;
}

.arrow-with-text li i {
    font-size: 24px;
}

.arrow-with-text li a {
    color: var(--color-default);
}

.arrow-with-text li a:hover {
    color: var(--color-secondary);
}

.arrow-with-text li a:hover span {
    text-decoration: underline;
}


.left-nav a .arrow-white path,
.left-nav a .arrow-white circle {
    fill: var(--color-white);
    stroke: var(--color-purple);
}

.left-nav a:hover .arrow-white path,
.left-nav a:hover .arrow-white circle {
    fill: var(--color-yellow);
    stroke: var(--color-purple);
}

.left-nav a.active .arrow-white path,
.left-nav a.active .arrow-white circle {
    fill: transparent;
    stroke: var(--color-white) !important;
}

.left-nav a:hover.active .arrow-white path,
.left-nav a:hover.active .arrow-white circle {
    fill: transparent;
    stroke: var(--color-yellow) !important;
}

@media print {

    .footer,
    .help,
    .back,
    .btn-edit,
    .next-step,
    .download,
    .step,
    .save,
    #non-printable {
        display: none !important;
    }

    #printable {
        display: block;
    }

    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .onlyPrint {
        display: block !important;
    }

    .collapse {
        display: block !important;
        height: auto !important;
    }

    .order-last-div {
        order: 6;
    }

    .accordian-panel .accordion-button::after {
        background-image: none !important;
    }

    @media (orientation: landscape) {
        .order-last-div {
            width: 100%;
        }

        .order-first-div {
            width: 100%;
        }
    }

    #epi-quickNavigator {
        display: none !important;
    }
	
	.left-container.left-container-with-link {
	   display:none;	
	}
	
	.safety-measures {
	   display:block !important;	
	}
}